
@{
    ViewBag.Title = "Animal Die-offs";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Classification</center></div>
                        <div class="panel-body">Suspected</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Source</center></div>
                        <div class="panel-body">International Classification of Disease (ICD-10) </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Alert</center></div>
                        <div class="panel-body"><a href="#">2 Cases</a></div>
                    </div>
                </div>
            </div>
        </div>
    *@
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Community Case Definition for Animal Die-offs</div>
            <div class="panel-body">
                More than 1 unexplained death of rats, rodents or animals in or near the volunteer’s area  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Alert threshold</div>
            <div class="panel-body">1 report in 7 days from the same Fokontany</div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Volunteer action</div>
            <div class="panel-body">
                Send SMS report</br>
                Inform and sensitise the population about hygiene and sanitation

            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Key Messages</div>
            <div class="panel-body">
                Do not touch the dead animal</br>
                Community to be aware of unexpected dead animal or an increase in dead rats, rodents and animal.

            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNTllMTk2NzgtNzY0YS00ZTViLWJjYjctN2IwMzBmOGE1NzViIiwidCI6ImQzNGRmNDllLThmZjQtNDZkNi1iNzhkLTNjZWYzMjYxYmNkNiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

