
@{
    ViewBag.Title = "Community Deaths";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Classification</center></div>
                        <div class="panel-body">Suspected</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Source</center></div>
                        <div class="panel-body">International Classification of Disease (ICD-10) </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Alert</center></div>
                        <div class="panel-body"><a href="#">2 Cases</a></div>
                    </div>
                </div>
            </div>
        </div>
    *@
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Community case definition for Community death </div>
            <div class="panel-body">
                Any person who dies in the community 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Alert threshold</div>
            <div class="panel-body">≥2 deaths in 7 days from the same Fokontany</div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Volunteer actions</div>
            <div class="panel-body">
                Send SMS to report
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Additional volunteer action if a suspect plague case</div>
            <div class="panel-body">
                Alert the authorities </br>
                Isolate the body </br>
                Dead body management–  funeral to be done by authorities
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Key Messages if the death is a suspect plague case</div>
            <div class="panel-body">
                Do not wake the dead body </br>
                Do not bury the dead body suspected of plague in the family tomb</br>
                Only specific people are allowed to attend the funeral</br>
                The contacts of the dead person have to go to CSB to get preventative treatment 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMjdmOWQxZWYtMzI1ZC00ZWJkLTg0MDgtNmE5YjA0ZTAzZTAyIiwidCI6ImQzNGRmNDllLThmZjQtNDZkNi1iNzhkLTNjZWYzMjYxYmNkNiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
