
@{
    ViewBag.Title = "Community Deaths";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Classification</center></div>
                        <div class="panel-body">Suspected</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Source</center></div>
                        <div class="panel-body">International Classification of Disease (ICD-10) </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Alert</center></div>
                        <div class="panel-body"><a href="#">2 Cases</a></div>
                    </div>
                </div>
            </div>
        </div>
    *@
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Community Case Definition for Suspected Plague Cases</div>
            <div class="panel-body">
                (Content under development)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Alert threshold</div>
            <div class="panel-body">Content under development</div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Volunteer action</div>
            <div class="panel-body">
                (Content under development)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Key Messages</div>
            <div class="panel-body">
                (Content Under development)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMjdmOWQxZWYtMzI1ZC00ZWJkLTg0MDgtNmE5YjA0ZTAzZTAyIiwidCI6ImQzNGRmNDllLThmZjQtNDZkNi1iNzhkLTNjZWYzMjYxYmNkNiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
