
@{
    ViewBag.Title = "Disease 2";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center>Classification</center></div>
                    <div class="panel-body">Suspected</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center>Source</center></div>
                    <div class="panel-body">International Classification of Disease (ICD-10) </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center>Alert</center></div>
                    <div class="panel-body"><a href="#">2 Cases</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Case Definition</div>
            <div class="panel-body">Clinical Description An illness that is characterized by acute painless watery diarrhoea with or without vomiting. Probable case Any person 5 years or older with severe dehydration or death caused by acute diarrhoea (3 or more abnormally loose or fluid stools in the past 24 hours). Any person 2 years or older with acute diarrhoea (3 or more abnormally loose or fluid stools in the past 24 hours), with or without dehydration in an area where there is a cholera outbreak. Confirmed case A clinically compatible illness fulfilling the laboratory criterion</div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Risk Factor(s)</div>
            <div class="panel-body">Contaminated water sources, contaminated food sources, cholera outbreak, low environmental sanitation.</div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Sign(s)/Symptom(s)</div>
            <div class="panel-body">Watery diarrhea (3 or more abnormally loose or fluid stools in the past 24 hours, "rice-water" stool with or without vomiting), severe dehydration (including any of the following loss of skin turgor, malaise, tachypnoea, hypotension), fever (more cdon in children). </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Labs/Diagnostics</div>
            <div class="panel-body">Isolation of vibrio cholera 01 or 0139 from stool sample (at least 5 grams or pea sized) or rectal swab. </div>
        </div>
    </div>
</div>