
@{
    ViewBag.Title = "Overview";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZjFkMzNjZDItOGY3Yi00MTE5LTljNzctYTVhYTIyZWNiNTU2IiwidCI6ImQzNGRmNDllLThmZjQtNDZkNi1iNzhkLTNjZWYzMjYxYmNkNiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
</div>
