
@{
    ViewBag.Title = "Suspected Plague";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Classification</center></div>
                        <div class="panel-body">Suspected</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Source</center></div>
                        <div class="panel-body">International Classification of Disease (ICD-10) </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><center>Alert</center></div>
                        <div class="panel-body"><a href="#">2 Cases</a></div>
                    </div>
                </div>
            </div>
        </div>
    *@
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Community Case Definition for Suspected Plague Cases</div>
            <div class="panel-body">
                Any person with sudden onset fever + swollen lymph nodes <br />
                <br />
                <strong>OR</strong><br />
                <br />
                Any person with sudden onset fever + strong cough and chest pain, bloody sputum
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Alert threshold</div>
            <div class="panel-body">1 case of reported suspected plague.</div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Volunteer action</div>
            <div class="panel-body">
                SMS to report the suspected case <br />
                Immediately refer the suspect case<br />
                Sensitisation of family members and contacts for referral to CSB<br />
                Sensitisation activities related to sanitation and vector control if applicable

            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Key Messages</div>
            <div class="panel-body">
                Plague is a severe disease that can be easily treated if you seek help in a clinic <br />
                Treatment is free<br />
                Keep environmental and household sanitation to avoid rats and fleas<br />
                Do not hunt or kill animals which are hunters of rats
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">

            <div class="panel-body">

                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="900" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMTI5ZTEyMWQtNDg0OC00YzVjLWIzOTAtMDA5OGU0YjI5OTE5IiwidCI6ImQzNGRmNDllLThmZjQtNDZkNi1iNzhkLTNjZWYzMjYxYmNkNiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
