
@{
    ViewBag.Title = "Alerts";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div>
    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNzg0ODBjMjAtNTBhNS00MDcwLWIzMmQtZGQ2NjE0ZWJjMGVkIiwidCI6ImQzNGRmNDllLThmZjQtNDZkNi1iNzhkLTNjZWYzMjYxYmNkNiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>

</div>

